name: Kaniko build
on: workflow_dispatch
jobs:
  docker:
    runs-on: casanova-21-test-org-runner-scaleset-1
    steps:
      - uses: actions/checkout@master
      - name: Kaniko build
        uses: aevea/action-kaniko@master
        with:
          image: casanova21/runner
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          cache: true
          cache_registry: casanova21/cache
